@import "./Variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  color: $textColor;
}

// style default for button, input and a

button,
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: $textColor;
}
