@import './Variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    color: $textColor;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none; /* Ẩn scrollbar */
}

// Scrollbar CSS

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #f1f1f2;
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// style default for button, input and a

button,
input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: $textColor;
}
