.wrapper {
    flex: 1;
    padding: 32px 10px 36px 26px;
    overflow-y: auto;
}

.header {
    width: 614px;
    max-width: 100%;
    margin-bottom: 20px;
    padding-right: 92px;
    position: relative;

    .header-title-edit {
        color: #3f414a;
        font-weight: 500;
    }
}

.info {
    display: flex;
    align-items: center;

    .avatar {
        width: 116px;
        height: 116px;
        border-radius: 50%;
    }

    .info-detail {
        margin-left: 20px;
    }

    .nick-name {
        width: 100%;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 38px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        word-break: break-word;
        margin-bottom: 0px;

        .icon-private {
            width: 2rem;
            height: 2rem;
        }
    }

    .full-name {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 24px;
        text-overflow: ellipsis;
        height: 25px;
        overflow: hidden;
        max-width: 450px;
        white-space: nowrap;
    }
}

.btn-edit {
    border: 1px solid #d0d1d3;
    border-radius: 4px;
    color: rgb(22, 24, 35);
    background-color: rgb(255, 255, 255);
    min-height: 36px;
    font-weight: 400;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    height: 36px;
    font-size: 1.6rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 141px;
    line-height: 24px;
    margin-right: 8px;
    height: 36px;
    padding: 0px 16px;
    margin: 16px 0px 0px;

    &:hover {
        background-color: #f8f8f8;
    }

    .edit-icon {
        width: 2rem;
        height: 2rem;
        margin-right: 6px;
        margin-bottom: -4px;
    }
}

.btn-follow {
    padding: 0px 16px;
    margin: 16px 0px 0px;
    width: 208px;
    height: 36px;
}

.header-title-follow {
}

.count {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 24px;
    color: rgba(18, 18, 18, 0.75);

    .count-title {
        margin-right: 21px;
        color: rgba(22, 24, 35, 0.75);
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 20px;
        display: inline-block;
    }

    .count-number {
        font-size: 1.8rem;
        font-weight: 700;
        margin-right: 6px;
    }
}

.contact {
    text-align: left;
    color: rgb(22, 24, 35);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 21px;
    margin-top: 10px;
    max-width: 600px;
    word-wrap: break-word;
}

.icon-share {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 11px;
    right: 7px;
}

// header video liked, videos,..

.body {
    width: 100%;
}

.body-header {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
    background-color: rgb(255, 255, 255);

    .body-header-nav {
        position: relative;
        top: 0px;
        z-index: 0;
        display: flex;
        flex-direction: row;
        -webkit-box-align: stretch;
        align-items: center;
        justify-content: stretch;
        width: 100%;
        height: 44px;
        margin-left: 2px;
    }

    .body-header-title {
        display: flex;
        align-items: center;
        padding: 2px;
        margin-top: 2px;
        margin-bottom: 8px;
    }
}

.body-header-nav-item {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 24px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    height: 44px;
    padding: 0px 32px;
    cursor: pointer;
    text-align: center;
    color: rgb(22, 24, 35);
    border-bottom: 3px solid transparent;
    opacity: 0.5;

    .body-header-nav-icon {
        margin-right: 6px;
        margin-left: -2px;
        margin-bottom: -7px;
    }
    .body-header-nav-title {
    }

    &:hover {
        // background-color: rgba(0, 0, 0, 0.05);
    }
}

.border-hover {
    border-bottom-color: #161823;
    opacity: 1;
}

.body-header-title-item {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;

    min-width: 48px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-right: 10px;

    .body-header-title-title {
        font-size: 1.3rem;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
    }
}

// videos

.body-video {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.body-video-no-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;

    .body-video-no-video-icon {
        width: 90px;
        height: 90px;
        opacity: 0.5;
    }

    .body-video-no-video-title {
        font-size: 2.4rem;
        line-height: 30px;
        font-weight: 700;
        color: rgb(22, 24, 35);
        margin-top: 18px;
    }
}
