.wrapper {
    display: flex;
    align-items: center;
    padding: 10px 8px 10px 16px;
    width: 223px;
    height: 41px;
}

.icon {
    margin: 6px 8px 0 0;
}

.title {
    font-weight: 600;
    font-size: 1.6rem;
}
