.wrapper {
    border-radius: 4px;
    max-width: 100%;
    width: 298px;
    height: 450px; /* Cho phép chiều cao tự điều chỉnh */
    cursor: pointer;
    margin-bottom: 15px;
    overflow: hidden;
    margin-right: 16px;
}

.video {
    position: relative;
    height: 100%;

    .srcVideo {
        width: 100%;
        height: inherit;
        object-fit: cover;
        border-radius: 4px;
        overflow: hidden;
    }

    .icon {
        position: absolute;
        bottom: 17px;
        left: 11px;
        display: flex;
        align-items: center;

        .count {
            margin-left: 4px;
            color: white;
        }
    }
}

.title {
    text-align: start;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 5px;
}
