.wrapper {
    padding-top: 11px;
    padding-bottom: 8px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    font-size: 1.8rem;
    padding: 9px;
    margin-right: 10px;
    margin-left: 19.5px;
}

.button {
    margin-left: 16px;
}
